/* A COMPLETER */
.detournee{
    text-decoration: underline;
}

.contandante{
    font-weight: bold;
}

article h1, article h2, article h3{
    color: red;
}

aside li > ul{
    list-style-type: none;
}

section#armes ul{
    color: green;
}

section#armes li>ul{
    color: blue;
}

section img{
    height: 1em;
}

aside img{
    width: 20vw;
}

section#annexes > section:not(#armes) > ul{
    list-style-type: none;
}
